<header>
  <section class="left">
    <span class="title">Adjust Incoming Power Level: </span>
    <input type="number" max="100" min="0" [(ngModel)]="power">
  </section>
  <img src="../../assets/Headshot.jpg" alt="#">
</header>
<section class="body">
  <app-human [power]="power" class="card"></app-human>
  <app-saiyan [power]="power" class="card"></app-saiyan>
  <app-super-saiyan [power]="power" class="card"></app-super-saiyan>
  <app-super-saiyan-two [power]="power" class="card"></app-super-saiyan-two>
  <app-super-saiyan-three [power]="power" class="card"></app-super-saiyan-three>
  <app-super-saiyan-four [power]="power" class="card"></app-super-saiyan-four>
</section>
