<h1>Add a Quote</h1>
<section>
  <div class="inputs">
    <form (submit)="onSubmit(formData)" #formData="ngForm">
      <textarea
      [(ngModel)]="newQuote.body"
      required
      name="body"
      minlength="3"
      #body="ngModel"
      rows="2" cols="30"></textarea>
      <input
      [(ngModel)]="newQuote.author"
      required
      name="author"
      minlength="2"
      #author="ngModel"
      type="text">
      <button type="submit" [disabled]="!formData.valid">Add Quote</button>
    </form>
  </div>
  <div class="validations">
    <span *ngIf="!body.valid" class="invalid quote">Quote is required.</span>
    <span *ngIf="!author.valid" class="invalid author">Author is required.</span>
  </div>
</section>
